textarea {
  width: 100%;
  height: 150px;
  border: none;
  background-color: var(--surface-ground);
  &:focus {
    border: none;
    outline: 0;
    background-color: var(--surface-ground);
  }
  color: var(--text-color);
}
input {
  width: 100%;
}
