.wrapper {
  overflow: hidden;
  margin-top: 20px;
  background-color: var(--surface-ground);
  padding: 50px;
  border-radius: 10px;
  .pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
  }
  .info {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  #post-by {
    font-size: 12px;
  }
}
